codepipeline_bucket_name = "codepipeline-bucket"
codepipeline_role        = "codepipeline-role"
codepipeline_name        = "sample-pipeline"
code_repo_id             = "name/repo_name"
elasticbeanstalk_app_name = "test-eb"
elasticbeanstalk_env_name = "Testeb-env"
codebuild_role = "codebuild-role"
badge_enabled = "false"
codebuild_name = "sample-build"
codebuild_compute_type = "BUILD_GENERAL1_SMALL"
codebuild_build_image = "aws/codebuild/amazonlinux2-x86_64-standard:2.0"
codebuild_type = "LINUX_CONTAINER"